<head>
    <title>Motter</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<template name="mainLayout">


    <div id="outer-wrapper">
        <!-- Inner Wrapper -->
        <div id="inner-wrapper">
            <!-- Navigation-->
            {{> header}}
            <!-- end Navigation-->
            {{>Template.dynamic template=content}}

            {{> footer}}
        </div>
        <!-- end Inner Wrapper -->
    </div>




</template>